body{
background-color: rgb(66, 134, 189);
}
.heading h1{
font-size:3vw ;
color:white;
margin:2vw;
text-align: center;
}
.leftcontainer{
width:25vw;
height:22vw;
float:left;
margin: 10% 5%;
text-align: center;
}
.container{
background-color: rgba(111, 196, 245, 0.3);
width:100%;
height:75%;    
}
.rightcontainer{
float:right;
width:60%;
height:60%;
margin:2% 2%;
}
.chart{
background-color: rgba(111, 196, 245, 0.3);
width:20vw;
height:16vw;
margin:1vw;
}
.charthead{
background-color: rgba(100, 255, 100, 0.3);
font-size:1vw;
height:1vw;
padding:1vw;
text-align:center;
font-weight:bold;
text-transform:uppercase;
}
.chartimg{
background-color: rgba(255, 155, 55, 0.3);
}

.chart1, .chart3{
float:left;
}
.chart2, .chart4{
float:right;
margin-right:20%;
}
.image{
width:20vw;
height:15vw;
}